USE [master]
GO
/****** Object:  Database [bankDb]    Script Date: 18.03.2023 21:17:41 ******/
CREATE DATABASE [bankDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bankDb', FILENAME = N'C:\Users\Kaptan\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\bankDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bankDb_log', FILENAME = N'C:\Users\Kaptan\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\bankDb.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bankDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bankDb]
GO
/****** Object:  Table [dbo].[bankData]    Script Date: 18.03.2023 21:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bankData](
	[Id] [int] NOT NULL,
	[userId] [varchar](10) NOT NULL,
	[userPass] [varchar](10) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[accountType] [varchar](50) NOT NULL,
	[accountNumber] [varchar](50) NOT NULL,
	[cardNumber] [varchar](50) NOT NULL,
	[balance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bankData] ([Id], [userId], [userPass], [userName], [accountType], [accountNumber], [cardNumber], [balance]) VALUES (1, N'kbilisim', N'1334', N'Kontrol Bilisim', N'Sirket Hesabi', N'22102014568', N'4756 2184 3643 1501', 220)
INSERT [dbo].[bankData] ([Id], [userId], [userPass], [userName], [accountType], [accountNumber], [cardNumber], [balance]) VALUES (2, N'cptmfs', N'8008', N'Muhammed Ferit Simsek', N'Sahis Hesabi', N'38674136732', N'3685 4540 2114 7836', 6075)
GO
USE [master]
GO
