USE [master]
GO
/****** Object:  Database [bankDb]    Script Date: 9.03.2023 09:27:05 ******/
CREATE DATABASE [bankDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bankData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bankData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bankData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bankData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bankDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bankDb]
GO
/****** Object:  Table [dbo].[bankData]    Script Date: 9.03.2023 09:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bankData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userId] [varchar](11) NOT NULL,
	[userPass] [varchar](11) NOT NULL,
	[userName] [varchar](50) NULL,
	[accountType] [varchar](50) NULL,
	[accountNumber] [varchar](50) NULL,
	[cardNumber] [varchar](50) NULL,
	[balance] [int] NULL,
 CONSTRAINT [PK_bankData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bankData] ON 

INSERT [dbo].[bankData] ([ID], [userId], [userPass], [userName], [accountType], [accountNumber], [cardNumber], [balance]) VALUES (1, N'kbilisim', N'1334', N'Kontrol Bilişim', N'Şirket Hesabı', N'22102014568', N'4756 2184 3643 1501', 10000)
INSERT [dbo].[bankData] ([ID], [userId], [userPass], [userName], [accountType], [accountNumber], [cardNumber], [balance]) VALUES (2, N'cptmfs', N'8008', N'Muhammed Ferit Şimşek', N'Şahıs Hesabı', N'38674136732', N'3685 4540 2114 7836', 3000)
SET IDENTITY_INSERT [dbo].[bankData] OFF
GO
USE [master]
GO
